In [37]:
import pandas as pd
import numpy as np
import re

In [38]:
sheetname = input('Which sheetname: ')#create error message if wrong sheetname or no sheetname!
#ask for column name too !
#this sheetname that i read doesnt have a column name so the names=['Report'] creates one !
#what if the column was named already
df = pd.read_excel("PublicationsExcel2021b.xlsx",sheet_name=sheetname,names=['Report'])
df

Which sheetname: Reports

                                               Report
0   Niermann U. & A. E. Kıdeyş (editörler) 1995. A...
1   Bingel F., A. C. Gücü, A. Stepnowski, U. Nierm...
2   Ünlüata Ü., Ş. Beşiktepe, M. A. Latif, S. Tuğr...
3   Bingel F., A. C. Gücü, E. Eker, A. E. Kıdeyş, ...
4   Bingel F., A. C. Gücü, E. Eker, A. E. Kıdeyş, ...
..                                                ...
56  Kideys A.E., K. Gökdağ, O. Güven, B. Jovanovic...
57  Kideys A.E., Y. Ak-Örek, M. Yılmaz, K. Özhan, ...
58  Kideys 2018. Mikroplastik1. 2015-2018 Estimati...
59  Kideys 2018. Mikroplastik2. 2016-2018 Impacts ...
60  Veiga, J., Aydin, M. Koren, S., Kideys, A., Tr...

[61 rows x 1 columns]

In [39]:
year_list = []
for i in range(len(df)):
    num4_row = []
    sent = df['Report'][i]
    for x in range(1,len(sent)-4):
        word = sent[x] + sent[x+1] + sent[x+2] + sent[x+3] 
        dopo_char = sent[x+4]
        prima_char = sent[x-1]
        if word.isdigit() and not(dopo_char.isdigit()) and not(prima_char.isdigit()) and word[0:2] in ("19","20"): 
            num4_row.append(word)
        #the for loop above iterates through the characters in sent and appends the 4 digit number that starts with 19 or 20.So we know its a year.
        #If it detects the 5th adjacent charachter as a number too it discards that number as a possible year.Same thing for the 1st element in a 5 or more digit number. 
        #discards these as an example: 11920, 19325, 12034543. Accepts these as a year: 1990b, 2020?, 1998name_surname
    #checking last four digits as the for loop above doesnt include it
    last4digits = sent[len(sent)-4]+sent[len(sent)-3]+sent[len(sent)-2]+sent[len(sent)-1]  #computes the last4digits because the above for - if code doesnt include this case
    if last4digits.isdigit() and last4digits[0:2] in ("19","20"): 
        num4_row.append(last4digits)
    #checking first four digits as the for loop above doesnt include it
    first4digits = sent[0]+sent[1]+sent[2]+sent[3]  #computes the last4digits because the above for - if code doesnt include this case
    if first4digits.isdigit() and first4digits[0:2] in ("19","20"): 
        num4_row.append(first4digits)
        
    if num4_row:
        year_list.append(num4_row[0])#assumes the first 4digit number that starts with 19 or 20 is the year of publication 
    else:
        year_list.append('unknown')
        
df['Year'] = year_list

In [40]:
#Old Code below that uses the split function,above implemented the new algorithm
""" 
listcolumn = []
for x in range(len(df1)):
    sentence = df1["Report"][x]
    #list_words = sentence.replace("."," ").strip().split() #dont need this line anymore due to using import re
    list_words = re.split(r'[;..."''b"(-),?.\s(!)]\s*', sentence)
    list_ints = [i for i in list_words if i.isdigit()]
    list_4digits = [y for y in list_ints if len(y)==4]
    if list_4digits:
        listcolumn.append(list_4digits[0])a
    else:
        listcolumn.append('unknown')
df1['Year'] = listcolumn
"""

' \nlistcolumn = []\nfor x in range(len(df1)):\n    sentence = df1["Report"][x]\n    #list_words = sentence.replace("."," ").strip().split() #dont need this line anymore due to using import re\n    list_words = re.split(r\'[;..."\'\'b"(-),?.\\s(!)]\\s*\', sentence)\n    list_ints = [i for i in list_words if i.isdigit()]\n    list_4digits = [y for y in list_ints if len(y)==4]\n    if list_4digits:\n        listcolumn.append(list_4digits[0])a\n    else:\n        listcolumn.append(\'unknown\')\ndf1[\'Year\'] = listcolumn\n'

In [41]:
#to check if we have a 4 digit number in every single row of our year column
check = 1
for y in range(len(df)):
    if len(str(df.iloc[y]['Year'])) != 4 :
        check=0
        print('at index ', y,'we have a non 4 digit number which is: ', df.iloc[y]['Year'])
if check == 1:
    print('all good')

all good

In [69]:
""" 
# create excel writer object
writer = pd.ExcelWriter('Reports_PublicationsExcel2021b.xlsx')
# write dataframe to excel
df1.to_excel(writer)
# save the excel
writer.save()
print('DataFrame is written successfully to Excel File.')
"""

DataFrame is written successfully to Excel File.

In [43]:
with pd.ExcelWriter("PublicationsExcel2021b.xlsx", mode="a", engine="openpyxl") as writer:
    sheetname2 = input('give sheetname you want to create: ')
    df.to_excel(writer, sheet_name=sheetname2)
print('DataFrame is written successfully to Excel File.')

give sheetname you want to create: year_column_added
DataFrame is written successfully to Excel File.