In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df1 = pd.read_excel("PublicationsExcel2021.xlsx", header = 1)
df1.drop(df1.columns[0], axis=1, inplace=True)

In [4]:
listcolumn = []
for x in range(len(df1)):
    sentence = df1["Publication"][x]
    #list_words = sentence.replace("."," ").strip().split() #dont need this line anymore due to using import re
    list_words = re.split(r'[;,.\s]\s*', sentence)
    list_ints = [i for i in list_words if i.isdigit()]
    list_4digits = [y for y in list_ints if len(y)==4] 
    listcolumn.append(list_4digits[0])
df1['Year'] = listcolumn

In [5]:
#to check if we have a 4 digit number in every single row of our year column
check = 1
for y in range(len(df1)):
    if len(str(df1.iloc[y]['Year'])) != 4 :
        check=0
        print('at index ', y,'we only have a 2 digit number which is: ', df1.iloc[y]['Year'])
if check == 1:
    print('all good')

all good

In [6]:
df1

,Publication,Year,SCI paper,Non-SCI paper,Peer-reviewed Book Chapter,Oteher Book Chapter
0,"Kıdeyş A. E., M. Ünsal & F. Bingel 1989. Seaso...",1989,Y,NaN,NaN,NaN
1,Kideys A. E. & R. G. Hartnoll 1991. Energetics...,1991,Y,NaN,NaN,NaN
2,"Kideys A. E., R. G. Hartnoll & R. D. M. Nash 1...",1993,Y,NaN,NaN,NaN
3,Kideys A. E. 1993. Estimation of the density o...,1993,Y,NaN,NaN,NaN
4,Kideys A. E. & U. Niermann 1993. Intrusion of ...,1993,Y,NaN,NaN,NaN
...,...,...,...,...,...,...
145,"Lakkis S., A. E. Kideys, A. Shmeleva, A. Koval...",2003,NaN,NaN,NaN,Y
146,Bagheri S. & A. E. Kideys 2003. Distribution a...,2003,NaN,NaN,NaN,Y
147,"Inanmaz Ö. I., M. Bekbolet & A. E. Kideys 2003...",2003,NaN,NaN,NaN,Y
148,"Kideys A.E., Ayşe Gazihan Akoğlu, Sıla Sarıcal...",2012,NaN,NaN,NaN,Y
149,Kideys A.E. 2013. Marmara denizinin mevcut kir...,2013,NaN,NaN,NaN,Y

In [7]:
# create excel writer object
writer = pd.ExcelWriter('Updated_PublicationsExcel2021.xlsx')
# write dataframe to excel
df1.to_excel(writer)
# save the excel
writer.save()
print('DataFrame is written successfully to Excel File.')

DataFrame is written successfully to Excel File.